<div class="container m-auto">
  <div class="text-center">
    <h1 class="text-primary fancy title-head">Address Form</h1>
  </div>
  <form #addressForm="ngForm" (ngSubmit)="addressSubmit()" class="form-border">
    <div [hidden]="addressForm.submitted">
      <div
        [class.cross-validation-error]="
          addressForm.errors?.identityRevealed &&
          (addressForm.touched || addressForm.dirty)
        "
      >
        <div class="row">
          <div class="col form-box"><label for="Id">Employee Id: </label></div>
          <div class="col">
            <input
              name="Id"
              id="Id"
              [(ngModel)]="addressModel.Id"
              class="form-control"
              type="text"
              #Id="ngModel"
              required
              readonly
            />
            <div *ngIf="Id.invalid && (Id.dirty || Id.touched)" class="alert">
              <span>{{ validateAddressField(Id) }}</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col form-box">
            <label for="AddressType">AddressType: </label>
          </div>
          <div class="col">
            <div class="row">
              <div class="col-2">
                <input
                  name="AddressType"
                  id="AddressType"
                  [(ngModel)]="addressModel.AddressType"
                  class="form-control d-none"
                  type="checkbox"
                  #AddressType="ngModel"
                />
              </div>
              <div class="col my-auto">
                <mat-icon
                  class="text-primary toggle-icon-box"
                  *ngIf="addressModel.AddressType"
                  (click)="addressModel.AddressType = !addressModel.AddressType"
                  >toggle_on</mat-icon
                >
                <mat-icon
                  class="text-secondary toggle-icon-box"
                  *ngIf="!addressModel.AddressType"
                  (click)="addressModel.AddressType = !addressModel.AddressType"
                  >toggle_off</mat-icon
                >
                <span
                  class="badge pointer"
                  [ngClass]="{
                    'bg-primary': addressModel.AddressType,
                    'bg-secondary': !addressModel.AddressType
                  }"
                  >{{ addressModel.AddressType ? "Default" : "Other" }}</span
                >
              </div>
            </div>

            <!-- <div
              *ngIf="AddressType.invalid && (AddressType.dirty || Id.touched)"
              class="alert"
            >
              <span>{{ validateAddressField(AddressType) }}</span>
            </div> -->
          </div>
        </div>
        <div class="row">
          <div class="col form-box">
            <label for="HouseNo">House No: </label>
          </div>
          <div class="col">
            <input
              name="HouseNo"
              id="HouseNo"
              [(ngModel)]="addressModel.HouseNo"
              class="form-control"
              type="text"
              #HouseNo="ngModel"
              required
            />
            <div
              *ngIf="HouseNo.invalid && (HouseNo.dirty || HouseNo.touched)"
              class="alert"
            >
              <span>{{ validateAddressField(HouseNo) }}</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col form-box"><label for="Street">Street: </label></div>
          <div class="col">
            <input
              name="Street"
              id="Street"
              [(ngModel)]="addressModel.Street"
              class="form-control"
              type="text"
              #Street="ngModel"
              required
            />
            <div
              *ngIf="Street.invalid && (Street.dirty || Street.touched)"
              class="alert"
            >
              <span>{{ validateAddressField(Street) }}</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col form-box"><label for="City">City: </label></div>
          <div class="col">
            <input
              name="City"
              id="City"
              [(ngModel)]="addressModel.City"
              class="form-control"
              type="text"
              #City="ngModel"
              required
            />
            <div
              *ngIf="City.invalid && (City.dirty || City.touched)"
              class="alert"
            >
              <span>{{ validateAddressField(City) }}</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col form-box"><label for="State">State: </label></div>
          <div class="col">
            <input
              name="State"
              id="State"
              [(ngModel)]="addressModel.State"
              class="form-control"
              type="text"
              #State="ngModel"
              required
            />
            <div
              *ngIf="State.invalid && (State.dirty || State.touched)"
              class="alert"
            >
              <span>{{ validateAddressField(State) }}</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col form-box"><label for="Country">Country: </label></div>
          <div class="col">
            <input
              name="Country"
              id="Country"
              [(ngModel)]="addressModel.Country"
              class="form-control"
              type="text"
              #Country="ngModel"
              required
            />
            <div
              *ngIf="Country.invalid && (Country.dirty || Country.touched)"
              class="alert"
            >
              <span>{{ validateAddressField(Country) }}</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col form-box"><label for="Pincode">Pincode: </label></div>
          <div class="col">
            <input
              name="Pincode"
              id="Pincode"
              [(ngModel)]="addressModel.Pincode"
              class="form-control"
              type="text"
              #Pincode="ngModel"
              required
            />
            <div
              *ngIf="Pincode.invalid && (Pincode.dirty || Pincode.touched)"
              class="alert"
            >
              <span>{{ validateAddressField(Pincode) }}</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col form-box">
            <label for="Landmark">Landmark: </label>
          </div>
          <div class="col">
            <input
              name="Landmark"
              id="Landmark"
              [(ngModel)]="addressModel.Landmark"
              class="form-control"
              type="text"
              #Landmark="ngModel"
              required
            />
            <div
              *ngIf="Landmark.invalid && (Landmark.dirty || Landmark.touched)"
              class="alert"
            >
              <span>{{ validateAddressField(Landmark) }}</span>
            </div>
          </div>
        </div>
        <p class="text-center">{{ addressModel | json }}</p>
        <div class="row">
          <div class="col m-2">
            <button
              type="submit"
              class="btn btn-primary btn-sm"
              [disabled]="!addressForm.form.valid"
            >
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="submitted-message" *ngIf="addressForm.submitted">
      <p>
        An Address Id: <span>{{ addressForm.value.AddressId }}</span> Submitted
        to database !!
      </p>
    </div>
  </form>
</div>

<!--<button-->
<!--  class="btn btn-primary"-->
<!--  (click)="submitBtn()">submit</button>-->
